nav {
  border-bottom: 1px solid rgb(35, 35, 35);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo {
  width: 100px;
}

.logo p {
  font-family: var(--heading-font);
  font-size: var(--font-3xl);
}

.menu {
  list-style: none;
  display: flex;
  gap: 35px;
  font-size: var(--font-md);
  color: var(--color-white-off);
}

.contact {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact button {
  position: relative;
  background: transparent;
  border: 1px solid var(--color-yellow);
  font-size: var(--font-md);
  color: var(--color-white);
  padding: 4px 16px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.contact p {
  width: 30px;
  height: 30px;
  background: var(--color-yellow);
  color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
