.footer {
  min-height: 90px;
  border-top: 1px solid rgb(35, 35, 35);
}

.footer_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.footer_title {
  font-size: var(--font-xl);
  font-family: var(--heading-font);
}

.footer_divider {
  width: 400px;
  height: 1px;
  background: rgb(78, 78, 78);
  margin: 10px 0;
}

.copyright_text {
  font-size: var(--font-sm);
  color: rgba(255, 255, 255, 0.4);
}

.copyright_text span {
  font-size: var(--font-md);
  color: #fff;
}
